$clr-nav: #006369;
$clr-footer: #010721;
$clr-main-dark: #002B5B;
$clr-main: #2B4865;
$clr-main-light: #256D85;
$clr-main-lighter: #8FE3CF;
$clr-black: #0f0f0f;
$clr-white: #fff;
$clr-header-github: #161b22;
$clr-github:#6e5494;